OPENAI_API_KEY=your_openai_api_key_here
GROQ_API_KEY=your_groq_api_key_here
PORTKEY_API_KEY=your_portkey_api_key_here

# Qdrant Cloud Configuration
QDRANT_URL="https://your-qdrant-cloud-cluster.qdrant.tech"
QDRANT_API_KEY="your_qdrant_api_key_here"
# LangSmith Tracing (Observability)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT="Agentic-RAG"

# Managed PostgreSQL Configuration (e.g., Supabase / Neon / AWS RDS)
DATABASE_URL=postgresql://your_postgres_username:your_postgres_password@your-db-endpoint.co:5432/postgres

# Managed Redis Configuration (e.g., Upstash / AWS ElastiCache)
REDIS_URL=rediss://default:your_redis_password@your-redis-endpoint.upstash.io:30000
